@model IEnumerable<Virsagi.Web.ViewModels.WorkerRequestViewModel>

@{
    ViewBag.Title = "Worker Requests";
}

<h3 class="text-primary underline">@ViewBag.Title</h3>

@using (Html.BeginForm("GetAllRequests", "Admin", FormMethod.Get))
{
    <div class="row">
        <div class="col-md-offset-7 col-md-3">
            <input type="date" class="form-control" name="filterDate" />
        </div>
        <div class="col-md-2">
            <input type="submit" value="Search" class="btn btn-block btn-primary" />
        </div>
    </div>
}

<table class="table table-bordered table-striped table-hover">
    <tr>
        <th>
            RequestType
        </th>
        <th>
            Contact Person
        </th>
        <th>
            Contact Number
        </th>
        <th>
            Company UEN Number
        </th>
        <th>
            Company Name
        </th>
        <th>
            Email
        </th>
        <th>
            Request Details
        </th>
        <th>
            Special Request
        </th>
        <th>
            Date
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RequestTypeString)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactPerson)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyUENNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Details)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpecialRequest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
    </tr>
    }

</table>
