@model Virsagi.Web.ViewModels.AgentViewModel
@{
    ViewBag.Title = "Registering Workers";
}

<h3 class="text-primary underline">Registering Workers</h3>

<blockquote>
    <p>
        Only Dhaka Licensed Employment Agents can register their workers on this website
        for the purpose of seeking jobs in Singapore. Once your workers are registered,
        there is no further need for you to market their bios, since the website will do this work for you.
        To register your workers, simply fill in the form below and click submit button.
    </p>
</blockquote>

@if (Convert.ToInt16(TempData["isSuccess"]) == 1)
{
    <div class="alert alert-success" role="alert">Successfully saved!</div>
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Registration Form</h4>
    </div>

    <div class="panel-body">
        @using (Html.BeginForm("Create", "RegisterWorkers", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <h4><strong>Agency</strong></h4>

            <div class="form-group">
                <label class="col-md-2">Name of R.L.</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="RLName" />
                    @Html.ValidationMessageFor(model => model.RLName)
                </div>

                <label class="col-md-2">R.L. No</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="RLNo" />
                    @Html.ValidationMessageFor(model => model.RLNo)
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2">Address of R.L.</label>
                <div class="col-md-10">
                    <textarea class="form-control" name="RLAddress"></textarea>
                    @Html.ValidationMessageFor(model => model.RLAddress)
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2">Contact No</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="ContactNumber" />
                    @Html.ValidationMessageFor(model => model.ContactNumber)
                </div>

                <label class="col-md-2">Email</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="Email" />
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-5 col-md-2">
                    <input type="submit" class="btn btn-primary btn-block" value="Submit" />
                </div>
            </div>
        }
    </div>
</div>

