@model Virsagi.Web.ViewModels.AgentViewModel
@{
    ViewBag.Title = "Registering Workers";
}

<h3 class="text-primary underline">@Virsagi.Web.Language.Resource.RegisterWorkers</h3>

<blockquote>
    <p>@Virsagi.Web.Language.Resource.RegisterWorkersContent</p>
</blockquote>

@if (Convert.ToInt16(TempData["isSuccess"]) == 1)
{
    <div class="alert alert-success" role="alert">Registration received, we will be in contact shortly.</div>
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>@Virsagi.Web.Language.Resource.RegistrationForm</h4>
    </div>

    <div class="panel-body">
        @using (Html.BeginForm("Create", "RegisterWorkers", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <h4><strong>Agency</strong></h4>

            <div class="form-group">
                <label class="col-md-2">Name of R.L.</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="RLName" />
                    @Html.ValidationMessageFor(model => model.RLName)
                </div>

                <label class="col-md-2">R.L. No</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="RLNo" />
                    @Html.ValidationMessageFor(model => model.RLNo)
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2">Address of R.L.</label>
                <div class="col-md-4">
                    <textarea class="form-control" name="RLAddress" rows="4"></textarea>
                    @Html.ValidationMessageFor(model => model.RLAddress)
                </div>

                <label class="col-md-2">Date</label>
                <div class="col-md-4">
                    <input type="date" class="form-control" name="CreatedDate" />
                    @Html.ValidationMessageFor(model => model.CreatedDate)
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2">Contact No</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="ContactNumber" />
                    @Html.ValidationMessageFor(model => model.ContactNumber)
                </div>

                <label class="col-md-2">Email</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="Email" />
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-5 col-md-2">
                    <input type="submit" class="btn btn-primary btn-block" value="Submit" />
                </div>
            </div>
        }
    </div>
</div>

