<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VIRSAGI | @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="/Home">
                    <img src="~/Content/images/logo.png" alt="Dispute Bills">
                </a>
            </div>
            <div class="navbar-collapse collapse">
                @if (!Request.IsAuthenticated)
                {
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink(Virsagi.Web.Language.Resource.RegisterWorkers, "Index", "RegisterWorkers")</li>
                        <li>@Html.ActionLink(Virsagi.Web.Language.Resource.RequestWorkers, "Index", "RequestWorkers")</li>
                        <li>@Html.ActionLink(Virsagi.Web.Language.Resource.AboutUs, "About", "Home")</li>
                        <li>@Html.ActionLink(Virsagi.Web.Language.Resource.ContactUs, "Contact", "Home")</li>
                    </ul>
                }

                @if (Request.IsAuthenticated)
                {
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Dashboard", "Dashboard", "Admin")</li>
                        <li>@Html.ActionLink(Virsagi.Web.Language.Resource.Agents, "GetAllAgents", "Admin")</li>
                        <li>@Html.ActionLink(Virsagi.Web.Language.Resource.Requests, "GetAllRequests", "Admin")</li>
                        <li>@Html.ActionLink("News", "EditNews", "Admin")</li>
                    </ul>

                    @Html.Partial("_LogInPartial")
                }

                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Eng", "Change", "Home", new { lnAbbrevation = "en" }, null)</li>
                    <li>@Html.ActionLink("| 中文 |", "Change", "Home", new { lnAbbrevation = "zh-CN" }, null)</li>
                    <li>@Html.ActionLink("বাংলা", "Change", "Home", new { lnAbbrevation = "bn" }, null)</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @Virsagi.Web.Language.Resource.AllRightsReserved</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
