@{
    ViewBag.Title = "Home";
}

<div class="row jumbotron home-bg"></div>

<!--Headline-->
<h1 class="text-center">@Virsagi.Web.Language.Resource.Why</h1>

<blockquote>
    <p class="text-justify">
        @Virsagi.Web.Language.Resource.WhyContent
    </p>
</blockquote>

<!--News-->
<div class="row">
    <h1 class="text-center">NEWS</h1>
    <div class="col-md-4">
        <h3 class="text-primary underline">New OTC Test Quota rules</h3>
        <p>
            From July 2018 test, each OTC can test 12 workers per trade,
            with a max number of 100 workers tested per month.
        </p>
    </div>
    <div class="col-md-4">
        <h3 class="text-primary underline">New OTC Test Quota rules</h3>
        <p>
            From July 2018 test, each OTC can test 12 workers per trade,
            with a max number of 100 workers tested per month.
        </p>
    </div>
    <div class="col-md-4">
        <h3 class="text-primary underline">New OTC Test Quota rules</h3>
        <p>
            From July 2018 test, each OTC can test 12 workers per trade,
            with a max number of 100 workers tested per month.
        </p>
    </div>
</div>

<!--Steps-->
<div class="row">
    <h1 class="text-center">@Virsagi.Web.Language.Resource.How</h1>
    <div class="col-md-3">
        <h3 class="text-primary text-center underline">@Virsagi.Web.Language.Resource.Step1</h3>
        <p>@Virsagi.Web.Language.Resource.Step1Content</p>
    </div>

    <div class="col-md-3">
        <h3 class="text-primary text-center underline">@Virsagi.Web.Language.Resource.Step2</h3>
        <p>@Virsagi.Web.Language.Resource.Step2Content</p>
    </div>

    <div class="col-md-3">
        <h3 class="text-primary text-center underline">@Virsagi.Web.Language.Resource.Step3</h3>
        <p>@Virsagi.Web.Language.Resource.Step3Content</p>
    </div>

    <div class="col-md-3">
        <h3 class="text-primary text-center underline">@Virsagi.Web.Language.Resource.Step4</h3>
        <p>@Virsagi.Web.Language.Resource.Step4Content</p>
    </div>
</div>

<blockquote>
    <p class="text-justify">
        @Virsagi.Web.Language.Resource.BottomContent
    </p>
</blockquote>